    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/fotoPerfil.jpg" alt="" class="img-fluid" id="fotoPerfil">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Milton Duarte Reyes</p>
            <p>FullStack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de Mi</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam perspiciatis sunt totam exercitationem quibusdam praesentium mollitia tempore obcaecati accusantium veniam. Ullam maiores consequatur ducimus, quos corporis labore eaque tempore illo?</p>
            </span>
        </div>

        

    </div>