<div class="row">

    <h1>Hard & Soft skills</h1>

    <div class=" text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'HMTL'"
        [titleColor]="'#50D9C7'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../../assets/htmlLogo.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#e34c26'"
        [innerStrokeColor]="'#ebebeb'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'CSS'"
        [titleColor]="'#50D9C7'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../../assets/cssLogo.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#2965f1'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'Javascript'"
        [titleColor]="'#50D9C7'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../../assets/jsLogo.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#f0db4f'"
        [innerStrokeColor]="'#323330'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'HMTL'"
        [titleColor]="'#50D9C7'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../../assets/githubLogo.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#414141'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="300"
        [lazy]="true"
    ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'Ingles'"
        [titleColor]="'#50D9C7'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#ffffff'"
        [innerStrokeColor]="'#000000'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">

        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'Trsbajo en equipo'"
        [titleColor]="'#50D9C7'"
        [titleFontSize]="'3em'"
        [imageSrc]="'../../../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#000000'"
        [innerStrokeColor]="'#ffffff'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>

    </div>


</div>