.row{

    background-color: #E6E6E6;
}

footer{

    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
    padding-top: 10px;

}